<footer>
    <button class="action {{#if isFavorites}}red{{/if}}" {{#unless user}}disabled{{/unless}}><a
            href="{{#if isFavorites}}/{{else}}/favorite{{/if}}">{{{icon "heart"}}}</a></button>
    <div class="popup">
        <button class="action" onclick="togglePopup(event)" {{#unless user}}disabled{{/unless}}>{{{icon
            "plus"}}}</button>
        <div class="content">
            <div class="header">
                <h1>Neuer Standort</h1>
                <button onclick="togglePopup(event)">{{{icon "plus"}}}</button>
            </div>
            <form>
                <input type="text" placeholder="Name" required />
                <select required>
                    <option value="" disabled selected>Standort Typ</option>
                    <option value="type1">Type 1</option>
                    <option value="type2">Type 2</option>
                </select>
                <div>
                    <input type="text" placeholder="Strasse" required />
                    <input type="text" placeholder="Nr." required />
                </div>
                <div>
                    <input type="text" placeholder="PLZ" required />
                    <input type="text" placeholder="Ort" required />
                </div>
                <input type="text" placeholder="Land" required />
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>
</footer>

<style>
    footer {
        height: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
    }

    footer>* {
        position: absolute !important;
        bottom: 15px;
        padding: 0;
    }

    footer>*:first-child {
        left: 15px;
    }

    footer>*:last-child {
        right: 15px;
    }

    footer button.action {
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        border: none;
        background-color: #333;
    }
</style>