<header>
    {{#if user}}
    <form class="row" action="/logout">
        <p>Logged in as <b>{{user.name}}</b></p>
        <button type="submit">LOG OUT</button>
    </form>
    {{else}}
    <form class="row" action="/login" method="post">
        <input type="text" name="name" placeholder="Username:" required>
        <input type="password" name="password" placeholder="Password:" required>
        <button type="submit">LOG IN</button>
    </form>
    {{/if}}
</header>

<style>
    header {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        background-color: #333;
        color: white;
    }

    header button {
        color: black;
    }
</style>